body {
    box-sizing: border-box;
    background-color: #EEF9BF;
}
.container {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.titulo {
    width: 540px;
    height: 63px;
    color: #75B79E;
    font-size: 56px;
    font-weight: 700px;
    margin-top: 40px;
    text-align: center;
}

.game {
    margin-top: 47px;
    display: flex;
    flex-wrap: wrap;
}

.caixa-cartas { 
    width: 117px;
    height: 146px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
.cartas {
    width: 100%;
    height: 100%;    
    border: 1px solid #99CEA8;
    border-radius: 5px;
    background-color: #A7E9AF;
    margin-right: 34px;
    margin-bottom: 34px;
    position:absolute;
    backface-visibility: hidden;
    transition: all 0.5s;
}

.cartas img {
    width: 100px;
    height: 100px;
    
}

.back {
    background-color:aqua;
    transform: rotateY(180deg);
}

.front {
    background-color: #99CEA8;
    transform: rotateY(0deg);
}

.backV {
    transform: rotateY(0deg);
}

.frontV {
    transform: rotateY(-180deg);
}
.desabilitar {
    opacity: 0.5;
}

@media (max-width: 375px) {
    .titulo {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    .game,
    .bloco1,
    .bloco2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 34px;

    }
    
}

