body {
    box-sizing: border-box;
    background-color: #EEF9BF;
}
.container {
    width: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo {
    text-align: center;
    margin-top: 40px;
}
.titulo p {
    line-height: 66px;
    color: #75B79E;
    font-family: 'Roboto';
    font-size: 56px;
    font-weight: 700px;
    text-align: center;
}

.game {
    width: 80%;
    margin-top: 47px;
    gap: 35px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.caixa-cartas { 
    width: 117px;
    height: 146px;
    position: relative;

}
.cartas {
    width: 100%;
    height: 100%;    
    border: 1px solid #99CEA8;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A7E9AF;
    position:absolute;
    backface-visibility: hidden;
    transition: all 0.5s;
    transform-style: preserve-3d;
}

.cartas img {
    width: 100px;
    height: 100px;
    
}

.back {
    background-color:aqua;
    transform: rotateY(180deg);
}

.front {
    background-color: #99CEA8;
    transform: rotateY(0deg);
}

.selecionado>.back {
    transform: rotateY(0deg);
}

.selecionado>.front {
    transform: rotateY(-180deg);
}
.desabilitar {
    opacity: 0.5;
}

@media (max-width: 335px) {
    .titulo p {
        width: 100%;
        font-family: 'Roboto';
        font-weight: 700px;
        font-size: 36px;
        line-height: 42px;
        color: #75B79E;
        
    }
    
}

